    SESSION_COOKIE_SECURE = False      # Allow HTTP in development
    REMEMBER_COOKIE_SECURE = False     # Allow HTTP in development
    SESSION_PROTECTION = "basic"       # Marks session non-fresh on IP/UA change (does not destroy it)
