
    # File Storage (Google Cloud Storage)
    STORAGE_BACKEND = os.environ.get("STORAGE_BACKEND", "__FEATHER_STORAGE_BACKEND__")
    GCS_BUCKET = os.environ.get("GCS_BUCKET")
    GCS_CREDENTIALS_JSON = os.environ.get("GCS_CREDENTIALS_JSON")
